---
import Heading from "../ui/Heading.astro";
---

<section
	class="flex justify-between items-center bg-gradient-to-r from-accent w-full h-[30vh] overflow-hidden to-accent-dark"
>
	<img src="/dots-side.svg" alt="" class="w-42" />
	<div class="container">
		<Heading tagName="h2" tagSize="h2" class:list={"text-black flex-center"}
			>Ready to start your journey?</Heading
		>
	</div>
	<img src="/dots-side.svg" alt="" class="w-42 rotate-180" />
</section>
