---
import Heading from "../ui/Heading.astro";
---

<footer class="bg-accent py-10">
	<div
		class="flex flex-wrap lg:flex-nowrap justify-between items-start gap-4 container"
	>
		<article class="flex items-center gap-4">
			<img src="icon.png" alt="" />
			<Heading tagName="h4" tagSize="h4"> GOLF CLUB </Heading>
		</article>

		<div class="gap-4 grid grid-cols-2 font-bold text-black">
			<a href="#"><p>TOPTRACER RANGE</p></a>
			<a href="#"><p>CRAZY GOLF</p></a>
			<a href="#"><p>CAFE</p></a>
			<a href="#"><p>EVENTS</p></a>
			<a href="#"><p>GOLF LESSONS</p></a>
			<a href="#"><p>CONTACT US</p></a>
		</div>

		<div
			class="flex lg:flex-col justify-between lg:justify-center w-full lg:w-fit font-medium text-black"
		>
			<p>Address: Lorem ipsum dolor sit amet.</p>
			<p>Phone: +1 234 567 8910</p>
		</div>
	</div>
</footer>
