---
import Card from "../ui/Card.astro";

const services = [
	{
		title: "TopTracer Range",
		description:
			"Real-time ball tracking and virtual games for a modern practice session.",
		image: "/service1.png",
	},
	{
		title: "Pro Lessons",
		description:
			"Refine your technique with our PGA certified professional coaching staff.",
		image: "/service2.png",
	},
	{
		title: "Adventure Golf",
		description:
			"Family-friendly courses designed for fun, challenge, and memorable moments.",
		image: "/service3.png",
	},
];
---

<section class="flex-center pb-10 w-full h-dvh md:h-[60vh] max-h-fit">
	<div
		class="flex lg:flex-row flex-col justify-between items-center gap-10 lg:gap-12 px-10 md:px-15 lg:px-20 w-full h-full"
	>
		{services.map((service) => <Card {...service} />)}
	</div>
</section>
