---
import Heading from "../ui/Heading.astro";
---

<section class="flex-center my-40 h-[550px] overflow-hidden">
	<div class="flex-center gap-12 h-full container">
		<article class="rounded-3xl w-1/2 h-full overflow-hidden">
			<img src="/menu1.avif" alt="" class="w-full h-full object-cover" />
		</article>

		<article class="w-1/2">
			<Heading
				tagName="h2"
				tagSize="h2"
				class:list={"font-extrabold! mb-12"}>Food And Drink</Heading
			>
			<p class="leading-10">
				Whether you’re getting ready to play, just finishing your
				practice session or feeling peckish on the range, we have a
				variety of food and drink options bought directly to your table
				or bay. We make sure that we cater for everyone, offering a
				range of vegan and gluten free options.
			</p>
		</article>
	</div>
</section>
