---
interface Props {
	href: string;
	class?: string;
	color: "custom" | "primary" | "secondary" | "tertiary";
}

const { href, color } = Astro.props;

const colorMap = {
	custom: "border border-accent text-accent bg-transparent shadow-md",
	primary:
		"bg-primary text-white hover:bg-white hover:text-primary border-2 border-primary shadow-md ",
	secondary:
		"bg-white border-2 border-accent-dark text-accent-dark hover:bg-accent-dark hover:text-white shadow-md  hover:border-accent",
	tertiary:
		"bg-secondary border border-[var(--color-secondary)] text-[var(--color-light)] shadow-md hover:bg-[var(--color-primary)] ",
};
---

<a
	href={href}
	class:list={[
		`min-w-[150px] px-6 py-3 border-2 text-center shadow-lg font-medium transition-all duration-300 ease-in-out  cursor-pointer hover:scale-95 rounded-full 
        ${colorMap[color]}`,
		Astro.props.class,
	]}
>
	<slot />
</a>
